<div class="container-fluid">
    <h4 class="m-3">Repo data</h4>
    <div class="table-responsive">
        <table class="table">            
            <thead class="text-primary">
                <tr>
                    <th>Name</th>
                    <th>Forked</th>
                    <th>Stars</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let repo of repoList$ | async">
                    <td>{{repo.name}}</td>
                    <td>{{repo.fork}} </td>
                    <td>{{repo.stargazers_count}}</td>
                    <td>{{repo.updated_at}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>